# -------------------------
# Dependencies (Bun / Node)
# -------------------------
node_modules/

# -------------------------
# Build / Output
# -------------------------
out/
dist/
*.tgz

# -------------------------
# Code coverage
# -------------------------
coverage/
*.lcov

# -------------------------
# Logs
# -------------------------
*.log
*.logs
logs/
_.log
report.*.*.*.*.json

# -------------------------
# Development / IDE
# -------------------------
.ignore/
dev/
libs/audio/
# premium/

# IntelliJ / JetBrains IDEs
.idea/

# -------------------------
# Data files
# -------------------------
/data/
*.sqlite
*.db
*.csv
perm_presets.json
# perm_presets.json is temporary, will be converted to database system later

# -------------------------
# Environment variables
# -------------------------
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# -------------------------
# Cache / TypeScript
# -------------------------
.eslintcache
.cache/
*.tsbuildinfo

# -------------------------
# System files
# -------------------------
.DS_Store

# -------------------------
# Other
# -------------------------
*.jar
LICENSE_VB
